@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

body{
    margin:0;
    font: 600 19px 'Source Sans Pro', sans-serif;
    letter-spacing: 0.64px;
    color: #585d74;
    background-color: #D3D3D3;
}

nav{
    color: #006400
}

a{
    text-decoration: none;
}

ul{
    list-style:none;
}

a:hover{
    color : #006400;

}