<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {%  endblock title %}</title>
    <link rel="stylesheet" href="{% static 'appunti/styles.css' %}" />
</head>
<body >

<!-- barra di Menu -->
<nav style="color: darkgreen">
    <ul style="list-style: none">
        <li style="display: inline-block; padding: 10px 20px">
            <a href="{% url 'home' %} ">Home</a>
        </li>

        <li style="display: inline-block; padding: 10px 20px">
            <a href="{% url 'materie-list' %}">Materie Disponibili</a>
        </li>
        <li style="display: inline-block; padding: 10px 20px">
            <a href="{% url 'studenti-list' %}">Studenti</a>
        </li>

        {% if user.is_authenticated %}
            </li>
                <li style="display: inline-block; padding-left:800px">
                <a href="{% url 'logout' %}">Logout</a></sup>
            </li>
            <div id="benvenuto_user" > ciao,  {{ user.first_name }} {{ user.last_name }}</div>

        {% else %}
            <li style="display: inline-block; padding-left: 700px">
                <a href= "{% url 'login' %}">Login</a>
            </li>
            <li style="display: inline-block; padding-left:50px">
                <a href="{% url 'register' %}">Registrati</a>
            </li>
            <!-- stampa del messaggio di logout -->
            <div id="messaggio_logout benvenuto_user">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

    </ul>
</nav>




<nav style="font-size: 12px">
        <ul style="color:#8B0000" class="breadcrumb">
            {% for passaggio in percorso %}
                <li style="display: inline-block; padding: 1px 1px">
                    {% if not forloop.last %}
                        <a href = "{{passaggio.url}}"> {{ passaggio.nome }}</a> <strong style="color:black">>></strong>

                    {% else %}
                        {{ passaggio.nome }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
</nav>

    {% block content %} {% endblock content %}
</body>
</html>