<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {%  endblock title %}</title>
    <link rel="stylesheet" href="{% static 'appunti/styles.css' %}" />
</head>
<body >

<!-- barra di Menu -->
<nav>
    <ul style="list-style: none">
        <li style="display: inline-block; padding: 10px 20px">
            <a href="{% url 'home' %} ">Home</a>
        </li>

        <li style="display: inline-block; padding: 10px 20px">
            <a href="{% url 'materie-list' %}">Materie Disponibili</a>
        </li>
        <li style="display: inline-block; padding: 10px 20px">
            <a href="">Studenti</a>
        </li>

            <li style="display: inline-block; padding: 10px 20px">
            <a href= "#">Login</a>
        </li>
            <li style="display: inline-block; padding: 10px 20px">
            <a href=#>Registrati</a>
        </li>
    </ul>
</nav>

<nav style="font-size: 12px">
        <ul style="color:#8B0000" class="breadcrumb">
            {% for passaggio in percorso %}
                <li style="display: inline-block; padding: 1px 1px">
                    {% if not forloop.last %}
                        <a href = "{{passaggio.url}}"> {{ passaggio.nome }}</a> <strong style="color:black">>></strong>

                    {% else %}
                        {{ passaggio.nome }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
</nav>

    {% block content %} {% endblock content %}
</body>
</html>