

<nav style="font-size: 12px">
        <ul style="color:#8B0000" class="breadcrumb">
            {% for passaggio in percorso %}
                <li style="display: inline-block; padding: 1px 1px">
                    {% if not forloop.last %}
                        <a href = "{{passaggio.url}}"> {{ passaggio.nome }}-{{ passaggio.url }} </a> <strong style="color:black">>></strong>

                    {% else %}
                        {{ passaggio.nome }}-{{ passaggio.url }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
</nav>
