{% extends 'appunti/base.html' %}
{% block title %}
    Home page
{% endblock title %}

{% block content %}
    <h1> Benvenuto su MyNotes</h1>
    <H2> Una applicazione web che permette la condivisione degli appunti digitali
      in formato pdf </H2>
      <h3> su MyNote puoi:</h3>
      <ul>
        <li> scaricare gli appunti condivisi dagli altri</li>
        <li> caricare i tuoi appunti per aiutare altri studenti</li>
        <li> recensire degli appunti se ti piaciono </li>
        <li> dare un voto a degli appunti caricati </li>
        <li> visualizzare gli appunti caricati da ogni studente </li>
        <li> visualizzare gli appunti caricati per materia </li>
          <li> cancellare i tuoi appunti caricati in un secondo momento , oppure farne delle modifiche</li>
      </ul>
{% endblock content%}