{% extends 'appunti/base.html' %}
{% block title %}
    Gli appunti della  materia
{% endblock title %}

{% block content %}
  <h1 style="text-align: center; font-size: 80px">{{ materia.nome }}</h1>
  {% if appunti_materia_curr|length == 0 %}
     <h1> non sono ancora stati pubblicati appunti per questa materia </h1>
  {% else %}
      <ul>
          {% for appunto in appunti_materia_curr %}
          <li style="font-size: 30px"> <a href="{% url 'appunto-detail' materia.id appunto.id %}"> {{ appunto.nome_appunto }} Di {{appunto.studente.nome}}_{{appunto.studente.cognome}}</a></li>
          {% endfor %}
      </ul>
  {% endif %}
  <p> </p>
  <p> per caricare un appunto per questa materia clicca qui:<a href="{% url 'upload-appunto' materia.id %}">[Caricare Un Appunto] </a> </p>
{% endblock content%}