{% extends 'appunti/base.html' %}
{% block title %}
Carica il doc pdf dei tuoi appunti
{% endblock title %}


{% block content %}

<!-- camino di navigazione -->

    <h2> Carica il doc PDF dei tuoi Appunti </h2>
    <h3> Materia: {{ materia.nome }}</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }} <!-- inserimento del modulo nella pagina -->
        <button class="bottone-personalizzato" type="submit">Carica</button>
    </form>
{% endblock content%}