{% extends 'base_autenticazione.html' %}


{% block content %}

    <h4> Fai il Login</h4>
    {% for message in messages %}
        {{ message }}
    {% endfor %}

    <form method="post" action="/login">
            {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="inserisci lo username..."  required>
        <br><br>

        <label for="password">Password</label>
        <input type="password" name="password"  id ="password" placeholder="inserisci la password..." required>
        <br><br>
        <button type="submit"> login </button>
    </form>
{% endblock %}